/* Styles for input elements */
.unique-input {
  width: 200px;
  height: 30px;
  margin-left: 10px;
  margin-top: 15px;
}

/* Styles for the login container */
#unique-login-container {
  border: 2px solid grey;
  border-radius: 15px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

/* Styles for the login header */
#unique-login-head {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

/* Styles for the login form container */
#unique-login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#login-button{
  background-color: #397bde;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Styles for error message */
.unique-error-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Additional styling can be added here if needed */
