.forum-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the children horizontally */
  justify-content: flex-end; /* Aligns children to the bottom */
  min-height: 75vh;
  min-width: 400px; /* Fills the full viewport height */
}

.forum-container {
  margin-top: 30px;
  width: 100%; /* Full width of the forum-wrapper */
  max-width: 800px; /* Maximum width of the container */
  height: calc(75vh - 60px); /* Adjusted height for the input container */
  overflow-y: auto;
  min-width: 400px;
}

.message-wrapper {
  padding: 10px;
}

.scroll-anchor {
  margin-top: -1px;
}

.forum-input-container {
  padding: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 1000;
}

/* Responsive design adjustments */
@media screen and (max-width: 768px) {
  .forum-container {
    margin-right: 0;
  }

  .forum-input-container {
    padding: 10px;
  }
}

.current-user-message{
  align-items: end;
}

.other-user-message{
  align-items: start;
}

@media screen and (max-width: 480px) {
  .forum-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .message-wrapper {
    padding: 8px;
  }
}